<meta charset="utf-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="Cache-Control" content="no-cache"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="author" content="www.lhfeiyu.com"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="format-detection" content="telephone=no"/>
<!--<meta name="viewport" content="target-densitydpi=medium-dpi,width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />-->
<meta name="keywords" content="成都蓝海飞鱼,软件定制开发,网站建设,微信公众号开发,APP开发"/>
<meta name="description" content="成都蓝海飞鱼-集软件定制开发,网站建设,微信公众号开发,APP开发于一身的软件公司"/>
<script type="text/javascript" src="/images/jquery-1.4.1.js"></script>

<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"/>
<title>沃诊无忧  Powered by 成都蓝海飞鱼科技有限公司</title>