<div class="w_0100 back3">
	<div class="w_1000">
		<div class="c_1100_7">
			<div class="coy">Copyright © 2015 北京沃诊无忧健康科技有限公司 版权所有 京ICP备15018110</div>
			<div class="r_fx">
				<div class="bshare-custom">
					<a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" style="color: #fff;">分享本站：</a> <a title="分享到QQ空间" class="bshare-qzone"></a> <a
						title="分享到新浪微博" class="bshare-sinaminiblog"></a> <a title="分享到人人网" class="bshare-renren"></a> <a title="分享到腾讯微博" class="bshare-qqmb"></a> <a
						title="分享到网易微博" class="bshare-neteasemb"></a> <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
				</div>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
			</div>
		</div>
	</div>
</div>