<div class="w_0100 back2">
	<div class="w_1000">
		<div class="c_1100_6">
			<div class="l_167">
				<div class="t_167">
					<a href="#" style="text-decoration: none;cursor: default;">我要预约</a>
				</div>
				<div class="d_167">
					<span> 
						<a href="/bespeakChoose/2" target="_blank">陪诊</a>
					</span> 
					<span> 
						<a href="/bespeakChoose/1" target="_blank">远程诊疗</a>
					</span> 
					<span> 
						<a href="/hospital/hospitalBloodTest" target="_blank">血液检测</a>
					</span> 
					<!--<span> 
						<a href="javascript:;">基因检测</a>
					</span>
					-->
				</div>
			</div>
			<div class="l_167">
				<div class="t_167">
					<a href="javascript:;" style="text-decoration: none;cursor: default;">公司动态</a>
				</div>
				<div class="d_167">
					<span> 
						<a href="/articleList/45" target="_blank">公告</a>
					</span> 
					<span> 
						<a href="/articleList/46" target="_blank">活动</a>
					</span> 
					<span> 
						<a href="/articleList/47" target="_blank">调查</a>
					</span>
				</div>
			</div>
			<div class="l_167">
				<div class="t_167">
					<a href="javascript:;" style="text-decoration: none;cursor: default;">关于我们</a>
				</div>
				<div class="d_167">
					<span> 
						<a href="/article/${introduction.typeId}/${introduction.id}" target="_blank">公司简介</a>
					</span> 
					<span> 
						<a href="/article/${vision.typeId}/${vision.id}" target="_blank">公司愿景</a>
					</span> 
					<span> 
						<a href="javascript:;" onclick="lh.alert('电话：010-80880421  传真：010-80881641 E-mail：service@wonature.com');">联系我们</a>
					</span>
				</div>
			</div>
			<div class="l_120">
				<img src="/images/front/down1.jpg" width="110" height="110" /> 
				<br /> 微信公众平台
			</div>
			<div class="r_240">
				<strong>您身边的家庭医生</strong> 
				<br /> 
				<span>4000-968-767</span> 
				<br />
				<p>
					地址：北京市通州区滨惠南三街38号2109室 <br />电话：010-80880421 
					<br />传真：010-80881641 
					<br />E-mail：service@wonature.com
				</p>
			</div>
		</div>
	</div>
</div>