<div class="fixed" id="pf" style="top:245px;right:25px;margin-right:auto;height:370px;">
	<span id="nav1"> <a onclick="userAddLocache(4,'/userReportList')" href="javascript:;"> <i> <br />
		</i>检测报告
	</a>
	</span> 
	<span id="nav2"> <a onclick="userAddLocache(6,'/userDiagnoseList')" href="javascript:;"> <i> <br />
		</i>就诊记录
	</a>
	</span> 
	<span id="nav3" class="hover"> 
		<i id="nav_center" style="position: absolute;margin-top:40px;right: 80px;width: 30px;color:#6AA744;cursor:pointer;" onclick="toggleNav();">折叠</i>
		<a onclick="userAddLocache(1,'/userBaseInformation')" href="javascript:;"> <i> <img src="/images/front/main20.png" width="24" height="24" /> <br />
		个人中心
		</i>
	</a>
	</span> 
	<span id="nav4"> <a onclick="userAddLocache(3,'/userNotice')" href="javascript:;"> <i> <br />
		</i>我的消息
	</a>
	</span> 
	<span id="nav5"> <a onclick="userAddLocache(8,'/myDoctor')" href="javascript:;"> <i> <br />
		</i>我的医生
	</a>
	</span>
</div>