
    <div id='otherlink'>
        <ul id="link-ul">
            <li class="link1">友情链接</li>
            <li>名站导航</li>
        </ul>
        <div class="link-part linkpart1">
            <ul>
                <li><a href="http://www.sda.gov.cn/WS01/CL0001/" target="_blank">药监局</a></li>
                <li><a href="http://zhongyi.ifeng.com" target="_blank">凤凰中医</a></li>
                <li><a href="http://www.haodf.com/" target="_blank">好大夫在线</a></li>
                <li><a href="http://www.j1.com/" target="_blank">健一网</a></li>
                <li><a href="http://www.fh21.com.cn/" target="_blank">飞华健康网</a></li>
                <li><a href="http://www.familydoctor.com.cn/" target="_blank">家庭医生在线</a></li>
                <li><a href="http://www.fx120.net/" target="_blank">放心医苑网</a></li>
                <li><a href="http://www.hxyjw.com/" target="_blank">海峡医界网</a></li>
                <li><a href="http://www.99.com.cn/" target="_blank">99健康网</a></li>
                <li><a href="http://www.pcbaby.com.cn/" target="_blank">太平洋亲子网</a></li>
                <li><a href="http://www.wenkang.cn/" target="_blank">闻康网</a></li>
                <li><a href="http://nan.wenkang.cn/" target="_blank">闻康男性</a></li>
                <li><a href="http://zx.wenkang.cn/" target="_blank">闻康整形</a></li>
                <li><a href="http://baby.wenkang.cn/" target="_blank">闻康母婴</a></li>
                <li><a href="http://mr.wenkang.cn/" target="_blank">闻康美容</a></li>
                <li><a href="http://www.wenkang.cn/bj/" target="_blank">闻康保健</a></li>
                <li><a href="http://nxpd.wenkang.cn/" target="_blank">闻康女性</a></li>
                <li><a href="http://news.wenkang.cn/" target="_blank">闻康医讯</a></li>
                <li><a href="http://zy.wenkang.cn/" target="_blank">闻康中医</a></li>
                <li><a href="http://www.wenkang.cn/yspd/" target="_blank">闻康饮食</a></li>
                <li><a href="http://hao123.xywy.com/" target="_blank">特色医院</a></li>
                <li><a href="http://baby.wenkang.cn/pcbaby/" target="_blank">母婴用品</a></li>
                <li><a href="http://www.39yst.com/" target="_blank">39养生堂</a></li>
                <li><a href="http://wksc.xywy.com/" target="_blank">闻康商城</a></li>
                <li><a href="http://yao.xywy.com/" target="_blank">药品网</a></li>
                <li><a href="http://health.longhoo.net/" target="_blank">龙虎健康网</a></li>
                <li><a href="http://www.jksb.com.cn/" target="_blank">健康时报</a></li>
                <li><a href="http://health.people.com.cn/" target="_blank">人民网健康</a></li>
                <li><a href="http://www.66163.com/" target="_blank">福建之窗</a></li>
                <li><a href="http://health.cnhubei.com/" target="_blank">荆楚健康网</a></li>
                <li><a href="http://health.jiaodong.net/" target="_blank">烟台健康</a></li>
                <li><a href="http://www.shangdu.com/" target="_blank">商都网</a></li>
                <li><a href="http://health.enorth.com.cn/" target="_blank">北方网健康</a></li>
                <li><a href="http://www.news.cn/health/" target="_blank">新华网健康</a></li>
                <li><a href="http://open.baidu.com/data/ms/nav/v" target="_blank">百度V计划</a></li>
                <li><a href="http://www.myzx.cn/" target="_blank">名医在线</a></li>
                <li><a href="http://www.360kad.com/" target="_blank">康爱多药店</a></li>
                <li><a href="http://www.999ask.com/" target="_blank">邻医网</a></li>
                <li><a href="http://www.medlive.cn/" target="_blank">医脉通</a></li>
                <li><a href="http://zx.xywy.com/" target="_blank">整形美容</a></li>
            </ul>
        </div>
        <div class="link-part linkpart3">
            <div>
                <ul class="clearfix">
                    <li class="fb">综合</li>
                    <li><a href="http://www.ltaaa.com/" target="_blank" >龙腾网</a></li>
                    <li><a href="http://www.boosj.com/" target="_blank">播视网</a></li>
                    <li><a href="http://www.qianlima.com/" target="_blank" >千里马招标网</a></li>
                    <li><a href="http://www.3158.cn/" target="_blank" >加盟</a></li>
                    <li><a href="http://www.163.com/" target="_blank" rel="nofollow">网易</a></li>
                    <li><a href="http://www.ifeng.com/" target="_blank" rel="nofollow">凤凰网</a></li>
                    <li><a href="http://hao.360.cn/" target="_blank" rel="nofollow">360导航</a></li>
                    <li><a href="http://www.3456.cc/" target="_blank" >3456导航</a></li>
                    <li><a href="http://cn.bing.com/" target="_blank" rel="nofollow">必应</a></li>
                    <li><a href="http://www.2345.com/" target="_blank" rel="nofollow">2345导航</a></li>
                </ul>
                <ul class="clearfix">
                    <li class="fb">生活</li>
                    <li><a href="http://www.xbaixing.com/" target="_blank" >百姓网</a></li>
                    <li><a href="http://www.liebiao.com/" target="_blank">列表网</a></li>
                    <li><a href="http://www.pchouse.com.cn/baike/" target="_blank">家居百科大全</a></li>
                    <li><a href="http://www.douguo.com/" target="_blank" >美食菜谱</a></li>
                    <li><a href="http://www.anjuke.com/" target="_blank" >安居客房产</a></li>
                    <li><a href="http://www.haodou.com/" target="_blank" >好豆菜谱</a></li>
                    <li><a href="http://www.bddyy.cc/" target="_blank" >影音先锋</a></li>
                    <li><a href="http://sz.focus.cn/" target="_blank" >深圳房地产</a></li>
                    <li><a href="http://www.pingguolv.com" target="_blank" >苹果绿养生网</a></li>
                </ul>
                <ul class="clearfix">
                    <li class="fb">新闻</li>
                    <li><a href="http://news.cntv.cn/" target="_blank" rel="nofollow">CCTV新闻</a></li>
                    <li><a href="http://www.xinhuanet.com/" target="_blank" rel="nofollow">新华网</a></li>
                    <li><a href="http://www.people.com.cn/" target="_blank" rel="nofollow">人民网</a></li>
                    <li><a href="http://www.chinanews.com/" target="_blank" rel="nofollow">中国新闻网</a></li>
                    <li><a href="http://news.sohu.com/" target="_blank" rel="nofollow">搜狐新闻</a></li>
                    <li><a href="http://news.sina.com.cn/" target="_blank" rel="nofollow">新浪新闻</a></li>
                    <li><a href="http://news.baidu.com/" target="_blank" rel="nofollow">百度新闻</a></li>
                    <li><a href="http://news.163.com/" target="_blank" rel="nofollow">网易新闻</a></li>
                    <li><a href="http://news.qq.com/" target="_blank" rel="nofollow">腾讯新闻</a></li>
                    <li><a href="http://news.ifeng.com/" target="_blank" rel="nofollow">凤凰资讯</a></li>
                </ul>
                <ul class="clearfix">
                    <li class="fb">社区</li>
                    <li><a href="http://tieba.baidu.com/" target="_blank" rel="nofollow">百度贴吧</a></li>
                    <li><a href="http://www.xingzuowu.com/" target="_blank">星座</a></li>
                    <li><a href="http://www.xuexi111.com/" target="_blank">学习资料</a></li>
                    <li><a href="http://www.tianya.cn/" target="_blank" rel="nofollow">天涯社区</a></li>
                    <li><a href="http://dzh.mop.com/" target="_blank" rel="nofollow">猫扑</a></li>
                    <li><a href="http://people.sina.com.cn/" target="_blank" rel="nofollow">新浪论坛</a></li>
                    <li><a href="http://www.douban.com/" target="_blank" rel="nofollow">豆瓣</a></li>
                    <li><a href="http://www.renren.com/" target="_blank" rel="nofollow">人人网</a></li>
                    <li><a href="http://www.19lou.com/" target="_blank" >19楼社区</a></li>
                    <li><a href="http://www.xici.net/" target="_blank" rel="nofollow">西祠胡同</a></li>
                </ul>
                <ul class="clearfix">
                    <li class="fb">女性</li>
                    <li><a href="http://www.meyol.com/" target="_blank" >魅网女性</a></li>
                    <li><a href="http://www.vdolady.com/" target="_blank" >维度女性网</a></li>
                    <li><a href="http://www.ellechina.com/" target="_blank" >ELLE</a></li>
                    <li><a href="http://fashion.qq.com/" target="_blank" rel="nofollow">腾讯女性</a></li>
                    <li><a href="http://women.sohu.com/" target="_blank" rel="nofollow">搜狐女人</a></li>
                    <li><a href="http://www.rayli.com.cn/" target="_blank" rel="nofollow">瑞丽女性网</a></li>
                    <li><a href="http://eladies.sina.com.cn/" target="_blank" rel="nofollow">新浪女性</a></li>
                    <li><a href="http://www.yaolan.com/" target="_blank">摇篮育儿网</a></li>
                    <li><a href="http://www.yuemei.com/" target="_blank" >悦美整形网</a></li>
                    <li><a href="http://www.qqbaobao.com/" target="_blank" rel="nofollow">亲宝网</a></li>
                </ul>
            </div>
        </div>
    </div>



    <script>
        window.onload=function(){
            var linkul = document.getElementById('link-ul');
            var linkli = linkul.getElementsByTagName('li');
            var partlink = document.getElementById('otherlink').getElementsByTagName('div');
            for(var i=0;i<linkli.length;i++){
                linkli[i].index = i;
                linkli[i].onmouseover = function() {
                    show(this.index);
                }
            }
            function show(a) {
                index = a;
                for (var j = 0; j < linkli.length; j++) {
                    linkli[j].className = "";
                    partlink[j].style.display = "none";
                }
                linkli[index].className = "link1";
                partlink[index].style.display = "block";
            }
        }
    </script>

