<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="lhfy.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script src="js/pzselect.1.0.js" type="text/javascript"></script>

</head>

<body>
<div class="pz_top">
	<div class="w_0100 back4">
    	<div class="w_1000">
        	<div class="c_1100_8">
            	<div class="left_wel">沃诊无忧，您身边的家庭医生</div>
                <div class="link">
                	<span><a href="#">网站首页</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">官网</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">联系客服</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">网站地图</a></span>
                	<div class="doctor">
                    	欢迎 <font>李某某</font> 大夫 &nbsp;&nbsp;&nbsp;<a href="#">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pz_main">
	<div class="w_0100 back5">
    	<div class="w_1000">
        	<div class="c_1100_9">
            	<div class="l_name">
                	<div class="l_102"><img src="images/main22.jpg" width="102" height="126" /></div>
                    <div class="r_245">
                    	<strong>李某某</strong> &nbsp;医师 &nbsp;教授<br />
                        呼吸结核科
                    </div>
                </div>
                <div class="l_370">
                	<img src="images/main23.png" width="98" height="98" /> &nbsp;&nbsp;<strong>北京市某某某诊所</strong>
                </div>
                <div class="phone">
                	<span>电话：</span>138 8888 8888<br /><span>地址：</span>北京市某某区某某街道某某某某号
                </div>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
   <div id="geren">
        <div class="ge-fl">
            <div class="flbt" id="flbt1"><h2>医生介绍</h2></div>
            <div class="neirong1"><span class="span1">擅长</span></div>
            <div class="neirong2"><p>中西医结合诊治过敏性疾病、病毒性疾病、免疫性疾病。在诊治痤疮、湿疹、黄褐斑、脱发、黑眼圈、有手足癣、啦啦啦啦等皮肤科疾病方面有丰富的临床经验。</p></div>
            <div class="neirong3"><span class="span2">执业经历</span></div>
            <div class="neirong4"><p>医学硕士，毕业于成都中医药大学，取得中西医结合临床专业学士学位和中医外科皮肤病学硕士学位，曾啦啦啦啦啦啦，现从事皮肤科临床诊疗工作。</p></div>
            <div class="flbt" id="flbt2"><h2>网站统计</h2></div>
            <div class="neirong5">
                <h4>总访问：<i>10,256,204</i>次</h4>
                <h4>总文章：<i>25</i>篇</h4>
                <h4>总患者：<i>1,258</i>位</h4>
                <h4>上次在线：<br><i>2016-3-25 14:36</i></h4>
                <h4>开通时间：<br><i>2013-5-21 10:12</i></h4>
            </div>
            <div class="flbt" id="flbt3"><h2><a href="#">我要预约</a><img src="./images/naozhong.jpg"/></h2></div>
        </div>
        <div class="ge-fr">
            <div class="ge-fr-tit"><h2>患友咨询区</h2><span>（已帮助43782位患者）</span></div>
            <div class="ge-fr2">
                <input class="ge-inp1" type="text" placeholder="请在此简单的描述病情，向李某某大夫提问。">
                <input class="ge-inp2" type="button" value="咨询">
            </div>
            <div class="zixunfanwei">
                <p>咨询范围：<br/>急性发热、手足口疫、小儿肺炎、支气管炎、急性腹泻、热性惊厥诊治。以及危重症患儿（各种类型的休克、各种系统衰竭、手足口病）的诊治。</p>
            </div>
            <div class="ge-fr-tit2"><h2>李某某大夫的文章</h2><span><a href="#">More></a></span></div>
            <div class="ge-ul">
                <ul>
                    <li><span>诊前须知</span><a href="#"><p>九院试管历程及费用(...</p></a> <i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                    <li><span>诊前须知</span><a href="#"><p>九院试管历程及费用(...</p></a><i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                    <li><span>诊前须知</span><a href="#"><p>九院试管历程及费用(...</p></a><i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                    <li><span>典型案例</span><a href="#"><p>九院试管历程及费用(...</p></a><i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                    <li><span>诊前须知</span><a href="#"><p>九院试管历程及费用(...</p></a><i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                    <li><span>诊前须知</span><a href="#"><p>九院试管历程及费用(...</p></a><i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                    <li><span>诊前须知</span><a href="#"><p>九院试管历程及费用(...</p></a><i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                    <li><span>就诊指南</span><a href="#"><p>九院试管婴儿收费(...</p></a><i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                    <li><span>诊前须知</span><a href="#"><p>九院试管历程及费用(...</p></a><i>2015-3-15</i><img src="./images/yanj.jpg"><div>3158</div></li>
                    <hr/>
                </ul>
            </div>
        </div>
   </div>
</div>
<div class="pz_down">
    <div class="w_0100 back3">
    	<div class="w_1000">
        	<div class="c_1100_7">
            	<div class="coy">Copyright © 2015 北京沃诊无忧健康科技有限公司 版权所有    京ICP备15018110</div>
                <div class="r_fx"><div class="bshare-custom">
                <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" style="color:#fff;">分享本站：</a>
                <a title="分享到QQ空间" class="bshare-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                <a title="分享到人人网" class="bshare-renren"></a>
                <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                <a title="分享到网易微博" class="bshare-neteasemb"></a>
                <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
