<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="style.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script src="js/pzselect.1.0.js" type="text/javascript"></script>

</head>

<body>
<div class="pz_top">
	<div class="w_0100 back4">
    	<div class="w_1000">
        	<div class="c_1100_8">
            	<div class="left_wel">沃诊无忧，您身边的家庭医生</div>
                <div class="link">
                	<span><a href="#">网站首页</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">官网</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">联系客服</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">网站地图</a></span>
                	<div class="doctor">
                    	欢迎 <font>李某某</font> 大夫 &nbsp;&nbsp;&nbsp;<a href="#">退出登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pz_main">
	<div class="w_0100 back5">
    	<div class="w_1000">
        	<div class="c_1100_9">
            	<div class="l_name">
                	<div class="l_102"><img src="images/main22.jpg" width="102" height="126" /></div>
                    <div class="r_245">
                    	<strong>李某某</strong> &nbsp;医师 &nbsp;教授<br />
                        呼吸结核科
                    </div>
                </div>
                <div class="l_370">
                	<img src="images/main23.png" width="98" height="98" /> &nbsp;&nbsp;<strong>北京市某某某诊所</strong>
                </div>
                <div class="phone">
                	<span>电话：</span>138 8888 8888<br /><span>地址：</span>北京市某某区某某街道某某某某号
                </div>
            </div>
        </div>
    </div>
    <div class="w_1000">
    	<div class="w_229">
        	<div class="t_229">我的首页</div>
        	<div class="pz_SideLayer">
            	<li class="l1"><a href="#">病历夹</a></li>
                <li class="l1"><a href="#">病历模版</a></li>
                <li class="l1"><a href="#" class="hover">用户库</a></li>
                <li class="l1"><a href="#">预约</a></li>
                <li class="l1"><a href="#">消息</a></li>
                <li class="l1"><a href="#">资讯</a></li>
                <li class="l1"><a href="#">留言</a></li>
                <li class="l1"><a href="#">文章</a></li>
                <li class="l1"><a href="#">授权记录</a></li>
                <li class="l1"><a href="#">统计分析</a></li>
                <li class="l1"><a href="#">医学资料及工具</a></li>
            </div>
            <div class="c_299">
            	<div class="tit_h_47">我的圈子</div>
                <div class="list_229">
                	<ul>
                    	<li><a href="#"><nobr>张三 <span>上海某某某某诊所</span></nobr></a></li>
                        <li><a href="#"><nobr>张三 <span>上海某某某某诊所</span></nobr></a></li>
                        <li><a href="#"><nobr>张三 <span>上海某某某某诊所</span></nobr></a></li>
                        <li><a href="#"><nobr>张三 <span>上海某某某某诊所</span></nobr></a></li>
                        <li><a href="#"><nobr>张三 <span>上海某某某某诊所</span></nobr></a></li>
                        <li><a href="#"><nobr>张三 <span>上海某某某某诊所</span></nobr></a></li>
                        <li><a href="#"><nobr>张三 <span>上海某某某某诊所</span></nobr></a></li>
                        <li><a href="#"><nobr>张三 <span>上海某某某某诊所</span></nobr></a></li>
                    </ul>
                </div>
            </div>
            <div class="Search">
            	<input type="text" class="input3" placeholder="查找医生/诊所" />
                <input type="image" src="images/main26.jpg" width="43" height="35" class="input4" />
            </div>
            <div id="slideBox" class="Box">
			<div class="hd">
				<ul><li>01</li><li>02</li><li>03</li></ul>
			</div>
			<div class="bd">
				<ul>
					<li><a href="#" target="_blank"><img src="images/main27.jpg" width="229" height="131" /></a></li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
		jQuery(".Box").slide({mainCell:".bd ul",autoPlay:true});
		</script>
        </div>
        <div class="w_851">
        	<div class="t_851 txtScroll-top">
            	<div class="l_97">最新消息：</div>
                <div class="list_news bd">
                	<ul>
                    	<li><a href="#"><nobr>您有<u>9</u>个预约，<u>6</u>条未处理咨询，<u>2</u>个授权申请，<u>8</u>条留言....</nobr></a></li>
                        <li><a href="#"><nobr>您有<u>9</u>个预约，<u>6</u>条未处理咨询，<u>2</u>个授权申请，<u>8</u>条留言....</nobr></a></li>
                        <li><a href="#"><nobr>您有<u>9</u>个预约，<u>6</u>条未处理咨询，<u>2</u>个授权申请，<u>8</u>条留言....</nobr></a></li>
                    </ul>
                </div>
                <script>
                jQuery(".txtScroll-top").slide({mainCell:".bd ul",autoPage:true,effect:"top",autoPlay:true,vis:1});
                </script>
            </div>
            <div class="t_851_1">
            	<ul>
                	<li><a href="#" class="l_01">开始就诊</a></li>
                    <li><a href="#" class="l_02">写文章</a></li>
                    <li><a href="#" class="l_03">血液检测</a></li>
                    <li><a href="#" class="l_04">基因检测</a></li>
                </ul>
            </div>
            <div class="d_851">
            	<div class="tit2">
                	<span>健康资讯</span>
                    <div class="more"><a href="#">更多</a></div>
                </div>
                <div class="d_list1">
                	<ul>
                    	<li class="color"><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                        <li><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                        <li class="color"><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                        <li><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                        <li class="color"><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                    </ul>
                </div>
            </div>
            <div class="d_851">
            	<div class="tit2">
                	<span>热点讨论</span>
                    <div class="more"><a href="#">更多</a></div>
                </div>
                <div class="d_list1">
                	<ul>
                    	<li class="color"><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                        <li><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                        <li class="color"><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                        <li><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                        <li class="color"><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气</nobr></a><span>2016-02-27</span></li>
                    </ul>
                </div>
            </div>
            <div class="switch pz_tab">
            	<div class="t_811 hd">
                	<ul>
                    	<li><a>公告</a></li>
                        <li><a>活动</a></li>
                    </ul>
                </div>
                <div class="g_811 bd">
                	<li>
                    	<div class="box_811">
                        	<div class="t_771">
                            	<span><strong>23</strong><br />2016/02</span>
                                <div class="r_600"><span>世卫组织使用转基因蚊子新技术 阻止寨</span><br />沃诊无忧</div>
                            </div>
                            <div class="d_771">
                            	　　计划经济体制下，医疗卫生体系定位明确，中国的医疗卫生创造了一系列辉煌，在医疗服务、预防保健等各个方面都取得了很大的成就。农村和城镇的医疗服务也在这时全面展开，医疗服务的可及性大大增强。由于社会经济发展和综合国力的影响以及"政事一体化"的管理，中国在医疗技术，服务水平和基础设施建设方面都不同程度地存在一定问题...<a href="#">详情+</a>
                            </div>
                        </div>
                    </li>
                    <li>
                    	<div class="box_811">
                        	<div class="t_771">
                            	<span><strong>23</strong><br />2016/02</span>
                                <div class="r_600"><span>世卫组织使用转基因蚊子新技术 阻止寨</span><br />沃诊无忧</div>
                            </div>
                            <div class="d_771">
                            	　　计划经济体制下，医疗卫生体系定位明确，中国的医疗卫生创造了一系列辉煌，在医疗服务、预防保健等各个方面都取得了很大的成就。农村和城镇的医疗服务也在这时全面展开，医疗服务的可及性大大增强。由于社会经济发展和综合国力的影响以及"政事一体化"的管理，中国在医疗技术，服务水平和基础设施建设方面都不同程度地存在一定问题...<a href="#">详情+</a>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
            <script>jQuery(".pz_tab").slide({});</script>
        </div>
    </div>
</div>
<div class="pz_down">
    <div class="w_0100 back3">
    	<div class="w_1000">
        	<div class="c_1100_7">
            	<div class="coy">Copyright © 2015 北京沃诊无忧健康科技有限公司 版权所有    京ICP备15018110</div>
                <div class="r_fx"><div class="bshare-custom">
                <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" style="color:#fff;">分享本站：</a>
                <a title="分享到QQ空间" class="bshare-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                <a title="分享到人人网" class="bshare-renren"></a>
                <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                <a title="分享到网易微博" class="bshare-neteasemb"></a>
                <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
