<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="style.css" type="text/css" />
<link rel="stylesheet" href="zxnr.css" type="text/css">
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script src="js/pzselect.1.0.js" type="text/javascript"></script>

</head>

<body>
<div class="pz_top">
	<div class="w_0100 back1">
    	<div class="w_1000">
        	<div class="c_1100">
            	<div class="left">沃诊无忧，您身边的家庭医生</div>
                <div class="right">
                	<div class="hover_l"><a href="#">官网</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">联系客服</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">网站地图</a></div>
                	<div class="land">
                    	<span><a href="#" class="lan_one">登录</a></span>
                        <span><a href="#" class="lan_two">注册</a></span>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="w_1000">
    	<div class="c_1100_1">
           <div class="logo"><a href="#"><img src="images/logo.jpg" width="134" height="104" /></a></div>
           <div class="right_1">
           		<div class="so">
                	<div class="l_346">
                    	<div class="searchbox" pzdatatype="select">
                        	<input type="hidden" />
                            <div class="titcon tw"  pzdatatype="title">
                                找医生
                            </div>
                            <ul class='serul' pzdatatype="content">
                               <li>找医生</li>
                               <li>找医生</li>
                            </ul>
                        </div>
                        <input type="text" class="input1" />
                    </div>
                    <input type="image" src="images/top4.jpg" width="48" height="48" class="input2" />
                </div>
                <div class="consult">
                	<a href="#"><span>我要咨询</span><br />医生将为您在线解答</a>
                </div>
           </div>
        </div>
        <div class="c_1100_2">
        	<div class="menu">
            	<ul>
                	<li class="nli_1"><a href="#"><img src="images/menu1.png" width="24" height="20" /></a></li>
                	<li class="nli"><a href="#">我要预约</a></li>
                    <li class="nli"><a href="#">陪诊</a></li>
                    <li class="nli"><a href="#">挂号</a></li>
                    <li class="nli"><a href="#">体检</a></li>
                    <li class="nli"><a href="#">基因检测</a></li>
                </ul>
            </div>
             <script>
			jQuery(".menu").slide({ type: "menu", titCell: ".nli", targetCell: ".sub", effect: "slideDown", delayTime:200, triggerTime: 0,returnDefault: true });
			</script>
            <div class="special">
            	<a href="#">健康资讯</a>
                <a href="#">疾病专题</a>
            </div>
        </div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1000">
    	<div class="c_1100_10" style="float: none;">当前位置：<a href="#">首页</a> - <a href="#">咨询内容</a></div>
        <form action="" method="">
            <div class="zxnr">
                <p class="h1">咨询内容</p>
                <hr style="width:800px;margin:0 auto;color:#eee; "/>
                <div class="lhnr">
                    <h2>请确认本次咨询的疾病问题：</h2>
                    <input type="text" class="inp1"/><div class="spa1"><span>*必填</span></div>
                    <div class="fr"><p class="pgray">请填写疾病名称，2-20个字，如：糖尿病合并下肢动脉栓塞。</p></div>
                    <p class="smp">（如不知道疾病名称，可填写主要症状，如：饭后胃部阵痛，腹胀。）</p>
                    <h3 class="h3_1">其他必要说明及希望医生提供的帮助：</h3>
                    <p class="smp">（此处填写的内容是公开的，请勿填写姓名、电话等隐私信息！）</p>
                    <div class="box2">
                        <div class="txt2">病情主诉（如发病时间，主要症状等）:</div><span>*必填</span>
                        <textarea></textarea>
                        <div class="txt3">
                            <p>
                            <img src="images/jg.png" alt="例子">例子说明:<br/>2011年12月份出现头痛，视物模糊。 当地就诊后医生诊断高血压，血压160/100。开了药，一直服用到现在，有改善!现偶有头痛及视物模糊的情况发生，血压控制不理想，一般晨起血压140/98，睡前血压130/80。
                            </p>
                        </div>
                        <p class="pbt">填写要求：简明、扼要（字数限制20-1000个字）。</p>
                    </div>
                    <div class="box3">
                        <div class="txt2">希望医生提供的帮助:</div>
                        <span>*必填</span>
                        <textarea></textarea>
                        <div class="txt5">
                            <p>
                            <img src="images/jg.png" alt="例子">例子说明:<br/>高血压是否会引起头痛、视物模糊? 还有其他原因吗？医生说我的血压不好控制，是否还有别的好办法？ 能去找您就诊吗？
                            </p>
                        </div>
                        <div class="txt4">
                            <p class="pbt">填写说明<br/>1、字数限制10-1000个字，不建议超过三个要求，可根据医生回复情况再次追问！2、真实的大医院高年资医生，如需要可向医生联系就诊事宜！</p>
                        </div>
                    </div>
                    <div class="bt1">
                        <input type="button" value="完成并保存"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="pz_down" style="margin-top: 8px;">
	<div class="w_0100 back2" >
    	<div class="w_1000">
        	<div class="c_1100_6">
            	<div class="l_167">
                	<div class="t_167"><a href="#">我要预约</a></div>
                    <div class="d_167">
                    	<span><a href="#">陪诊</a></span>
                        <span><a href="#">挂号</a></span>
                        <span><a href="#">体检</a></span>
                        <span><a href="#">基因检测</a></span>
                    </div>
                </div>
                <div class="l_167">
                	<div class="t_167"><a href="#">公司动态</a></div>
                    <div class="d_167">
                    	<span><a href="#">公告</a></span>
                        <span><a href="#">活动</a></span>
                        <span><a href="#">调查</a></span>
                    </div>
                </div>
                <div class="l_167">
                	<div class="t_167"><a href="#">关于我们</a></div>
                    <div class="d_167">
                    	<span><a href="#">公司简介</a></span>
                        <span><a href="#">公司愿景</a></span>
                        <span><a href="#">联系我们</a></span>
                    </div>
                </div>
                <div class="l_120">
                	<img src="images/down1.jpg" width="110" height="110" /><br />
                    微信公众平台
                </div>
                <div class="r_240">
                	<strong>您身边的家庭医生</strong><br />
                    <span>4000-968-767</span><br />
                    <p>地址：北京市通州区滨惠南三街38号2109室
                    <br />电话：010-80880421
                    <br />传真：010-80881641
                    <br />E-mail：service@wonature.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w_0100 back3">
    	<div class="w_1000">
        	<div class="c_1100_7">
            	<div class="coy">Copyright © 2015 北京沃诊无忧健康科技有限公司 版权所有    京ICP备15018110</div>
                <div class="r_fx"><div class="bshare-custom">
                <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" style="color:#fff;">分享本站：</a>
                <a title="分享到QQ空间" class="bshare-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                <a title="分享到人人网" class="bshare-renren"></a>
                <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                <a title="分享到网易微博" class="bshare-neteasemb"></a>
                <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script></div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload=function(){
        var oInp=document.getElementsByTagName('input')[0];
        if(oInp.value.length>=20){
            alert('超出20个字啦！')
        }
    }
</script>
</body>
</html>
