<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="style.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script src="js/pzselect.1.0.js" type="text/javascript"></script>

</head>

<body>
<div class="pz_top">
	<div class="w_0100 back1">
    	<div class="w_1000">
        	<div class="c_1100">
            	<div class="left">沃诊无忧，您身边的家庭医生</div>
                <div class="right">
                	<div class="hover_l"><a href="#">官网</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">联系客服</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">网站地图</a></div>
                	<div class="land">
                    	<span><a href="#" class="lan_one">登录</a></span>
                        <span><a href="#" class="lan_two">注册</a></span>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="w_1000">
    	<div class="c_1100_1">
           <div class="logo"><a href="#"><img src="images/logo.jpg" width="134" height="104" /></a></div>
           <div class="right_1">
           		<div class="so">
                	<div class="l_346">
                    	<div class="searchbox" pzdatatype="select">
                        	<input type="hidden" />
                            <div class="titcon tw"  pzdatatype="title">
                                找医生
                            </div>
                            <ul class='serul' pzdatatype="content">
                               <li>找医生</li>
                               <li>找医生</li>
                            </ul>
                        </div>
                        <input type="text" class="input1" />
                    </div>
                    <input type="image" src="images/top4.jpg" width="48" height="48" class="input2" />
                </div>
                <div class="consult">
                	<a href="#"><span>我要咨询</span><br />医生将为您在线解答</a>
                </div>
           </div>
        </div>
        <div class="c_1100_2">
        	<div class="menu">
            	<ul>
                	<li class="nli_1"><a href="#"><img src="images/menu1.png" width="24" height="20" /></a></li>
                	<li class="nli"><a href="#">我要预约</a></li>
                    <li class="nli"><a href="#">陪诊</a></li>
                    <li class="nli"><a href="#">挂号</a></li>
                    <li class="nli"><a href="#">体检</a></li>
                    <li class="nli"><a href="#">基因检测</a></li>
                </ul>
            </div>
             <script>
			jQuery(".menu").slide({ type: "menu", titCell: ".nli", targetCell: ".sub", effect: "slideDown", delayTime:200, triggerTime: 0,returnDefault: true });
			</script>
            <div class="special">
            	<a href="#">健康资讯</a>
                <a href="#">疾病专题</a>
            </div>
        </div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1000">
    	<div class="c_1100_10">当前位置：<a href="#">首页</a> - <a href="#">健康资讯</a> - <a href="#">健康资讯分类一</a></div>
        <div class="w_824">
        	<div class="page">
            	<div class="t_824">
                	<div class="tit3">初春养生牢记3点，一整年的健康不用愁</div>
                    <div class="time1">
                    	<div class="l_flo" style="float:left; margin-left:133px;">2015-08-20  17:16 &nbsp;&nbsp;&nbsp;发布人：<span>李医生</span> &nbsp;&nbsp;&nbsp;访问次数：<font>182545</font>  &nbsp;&nbsp;&nbsp;分享到：</div>
                        <div class="bshare-custom" style="float:left; line-height:24px; font-size:12px;">
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                        <a title="分享到人人网" class="bshare-renren"></a>
                        <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                        <a title="分享到网易微博" class="bshare-neteasemb"></a>
                        <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                        </div>
                        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
						<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                    </div>
                </div>
                <div class="d_824">
　　初春时节，万物更新，春季的养生保健也会为一年的健康打下坚实基础。南京市中西医结合医院治未病科郭海英教授提醒各位老人，初春养生保健要记住六个字：春捂、养胃、护肝。
<br />
<br />　　春捂：捂好背、腹、脚。初春时节，气温如果升幅不大就尽量少脱衣。得知冷空气即将到来，就提前增添衣物。春捂的重点在于背、腹、足底。背部保暖可预防寒气损伤"阳脉之海"———督脉，减少感冒几率；腹部保暖有助于预防消化不良和寒性腹泻。此外，有句俗语叫"寒从脚下起"，脚下神经末梢丰富、敏感，做好足部保暖才能使身体真正地暖和起来。
<br />
<br />　　养胃：少酸增甜多喝粥。中医养生学认为："春日宜省酸增甘，以养脾气。"这是因为春季易出现脾胃虚弱之症，故饮食最好少食酸辣，稍微偏甜较为合适，比如山药、百合、木耳等。而中医认为，粥类饮食最养脾胃，如果平时感觉胃脘隐痛，食欲不太好，容易口干咽燥，甚至形体消瘦、舌红少苔，那么不妨吃些山药百合大枣粥。山药具有补脾和胃之功能；百合清热润燥；大枣、薏苡仁健脾和胃，诸物合用的有滋阴养胃、清热润燥的作用。如果因心情不好而引发胃部不适，建议吃些木耳炒肉片。黑木耳益胃滋肾、调理中气，与猪瘦肉合用，可补益脾胃、调理中气。
<br />
<br />　　护肝：晨起伸伸懒腰。春在五行属木，与肝相应，所以春季一定要重视护肝。除了远离烟酒，注意饮食之外，最简单的就是伸懒腰。人体困乏的时候，气血循环缓慢，这时若舒展四肢，伸腰展腹，全身肌肉用力，并配以深呼吸，有吐故纳新、行气活血的作用。伸懒腰后，血液循环加快，能激发肝脏机能，从而达到对肝脏的保健效果。
<br />
<br />　　初春时节，万物更新，春季的养生保健也会为一年的健康打下坚实基础。南京市中西医结合医院治未病科郭海英教授提醒各位老人，初春养生保健要记住六个字：春捂、养胃、护肝。
<br />
<br />　　春捂：捂好背、腹、脚。初春时节，气温如果升幅不大就尽量少脱衣。得知冷空气即将到来，就提前增添衣物。春捂的重点在于背、腹、足底。背部保暖可预防寒气损伤"阳脉之海"———督脉，减少感冒几率；腹部保暖有助于预防消化不良和寒性腹泻。此外，有句俗语叫"寒从脚下起"，脚下神经末梢丰富、敏感，做好足部保暖才能使身体真正地暖和起来。养胃：少酸增甜多喝粥。中医养生学认为："春日宜省酸增甘，以养脾气。"这是因为春季易出现脾胃虚弱之症，故饮食最好少食酸辣，稍微偏甜较为合适，比如山药、百合、木耳等。而中医认为，粥类饮食最养脾胃，如果平时感觉胃脘隐痛，食欲不太好，容易口干咽燥，甚至形体消瘦、舌红少苔，那么不妨吃些山药百合大枣粥。山药具有补脾和胃之功能；百合清热润燥；大枣、薏苡仁健脾和胃，诸物合用的有滋阴养胃、清热润燥的作用。如果因心情不好而引发胃部不适，建议吃些木耳炒肉片。黑木耳益胃滋肾、调理中气，与猪瘦肉合用，可补益脾胃、调理中气。
<br />
<br />　　护肝：晨起伸伸懒腰。春在五行属木，与肝相应，所以春季一定要重视护肝。除了远离烟酒，注意饮食之外，最简单的就是伸懒腰。人体困乏的时候，气血循环缓慢，这时若舒展四肢，伸腰展腹，全身肌肉用力，并配以深呼吸，有吐故纳新、行气活血的作用。伸懒腰后，血液循环加快，能激发肝脏机能，从而达到对肝脏的保健效果。
					<br /><div class="bshare-custom" style="float:left; line-height:24px; margin-top:25px; font-size:12px;">
                        <a title="分享到QQ空间" class="bshare-qzone"></a>
                        <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                        <a title="分享到人人网" class="bshare-renren"></a>
                        <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                        <a title="分享到网易微博" class="bshare-neteasemb"></a>
                        <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                        </div>
                        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
						<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                </div>
                <div class="updown">
                	<div class="l_up"><nobr>上一篇：<a href="#">早起工作不利于健康 最佳工作时间因年龄而异最佳工作时间因年龄而异最佳工作时间因年龄而异</a></nobr></div>
                    <div class="r_down"><nobr>下一篇：<a href="#">早起工作不利于健康 最佳工作时间因年龄而异</a></nobr></div>
                </div>
            </div>
            <div class="plun">
                <div class="t_47">
                	<div class="l_112">我要评论</div>
                    <span>您也可以登录后再评论：<a href="#">登录</a> <font>|</font> <a href="#">注册</a></span>
                </div>
                <div class="bd_693">
                        <div class="tt_691_2">
                            <table width="784" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="5" style="padding-bottom:10px;">
                                    <textarea name="textarea" id="textarea" cols="45" rows="5" class="ttform1"></textarea></td>
                                </tr>
                                <tr>
                                    <td width="784"><input type="image" src="images/new_img3.jpg" name="textfield" id="textfield" /></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <div class="pl_693">
                        <div class="tt_693_1">
                            <div class="tit_px">评论列表</div>
                        </div>
                        <div class="tt_693_2">
                            <ul>
                                <li>
                                    <div class="l_58"><a href="#"><img src="images/new_img6.jpg" width="58" height="58" /></a></div>
                                    <div class="r_616">
                                        <div class="titnewn"><a href="#">健康管理者</a><span>2015-07-11</span></div>
                                        <div class="textnewn">让我们一起为世界贡献自己的一份力量吧！</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="l_58"><a href="#"><img src="images/new_img6.jpg" width="58" height="58" /></a></div>
                                    <div class="r_616">
                                        <div class="titnewn"><a href="#">健康管理者</a><span>2015-07-11</span></div>
                                        <div class="textnewn">让我们一起为世界贡献自己的一份力量吧！</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
        </div>
        <div class="w_256">
        	<div class="c_256">
            	<div class="t_256">健康资讯</div>
                <div class="pz_SideLayer1">
                	<li class="l3"><a href="#" class="hover">健康资讯分类一</a></li>
                    <li class="l3"><a href="#">健康资讯分类二</a></li>
                </div>
            </div>
            <div class="c_256_1">
            	<div class="tit_h_47">热点资讯</div>
                <div class="list_256">
                	<ul>
                    	<li><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气OL恢复元气</nobr></a></li>
                        <li><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气OL恢复元气</nobr></a></li>
                        <li><a href="#"><nobr>居家瘦身法 最有效的6个居家减肥方法</nobr></a></li>
                        <li><a href="#"><nobr>影响男人寿命的9个身体变化</nobr></a></li>
                        <li><a href="#"><nobr>小心过度疲劳伤身 5招助OL恢复元气OL恢复元气</nobr></a></li>
                        <li><a href="#"><nobr>中医治病为什么讲究忌口？</nobr></a></li>
                        <li><a href="#"><nobr>中医治病为什么讲究忌口？</nobr></a></li>
                        <li><a href="#"><nobr>中医治病为什么讲究忌口？</nobr></a></li>
                    </ul>
                </div>
            </div>
            <div class="c_256_2">
            	<div class="tit_h_47">良医在线</div>
                <div class="list_256_1">
                	<ul>
                    	<li style="border-top:0;">
                        	<div class="l_86">
                            	<a href="#"><img src="images/main13.png" width="86" height="86" /></a>
                            </div>
                            <div class="r_126">
                            	<div class="t_126">
                                	<a href="#">张建中<br /><span>外科/主任医师</span></a>
                                </div>
                                <div class="more_2">
                                	<a href="#">在线咨询</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="l_86">
                            	<a href="#"><img src="images/main13.png" width="86" height="86" /></a>
                            </div>
                            <div class="r_126">
                            	<div class="t_126">
                                	<a href="#">张建中<br /><span>外科/主任医师</span></a>
                                </div>
                                <div class="more_2">
                                	<a href="#">在线咨询</a>
                                </div>
                            </div>
                        </li>
                        <li>
                        	<div class="l_86">
                            	<a href="#"><img src="images/main13.png" width="86" height="86" /></a>
                            </div>
                            <div class="r_126">
                            	<div class="t_126">
                                	<a href="#">张建中<br /><span>外科/主任医师</span></a>
                                </div>
                                <div class="more_2">
                                	<a href="#">在线咨询</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pz_down">
	<div class="w_0100 back2">
    	<div class="w_1000">
        	<div class="c_1100_6">
            	<div class="l_167">
                	<div class="t_167"><a href="#">我要预约</a></div>
                    <div class="d_167">
                    	<span><a href="#">陪诊</a></span>
                        <span><a href="#">挂号</a></span>
                        <span><a href="#">体检</a></span>
                        <span><a href="#">基因检测</a></span>
                    </div>
                </div>
                <div class="l_167">
                	<div class="t_167"><a href="#">公司动态</a></div>
                    <div class="d_167">
                    	<span><a href="#">公告</a></span>
                        <span><a href="#">活动</a></span>
                        <span><a href="#">调查</a></span>
                    </div>
                </div>
                <div class="l_167">
                	<div class="t_167"><a href="#">关于我们</a></div>
                    <div class="d_167">
                    	<span><a href="#">公司简介</a></span>
                        <span><a href="#">公司愿景</a></span>
                        <span><a href="#">联系我们</a></span>
                    </div>
                </div>
                <div class="l_120">
                	<img src="images/down1.jpg" width="110" height="110" /><br />
                    微信公众平台
                </div>
                <div class="r_240">
                	<strong>您身边的家庭医生</strong><br />
                    <span>4000-968-767</span><br />
                    <p>地址：北京市通州区滨惠南三街38号2109室
                    <br />电话：010-80880421
                    <br />传真：010-80881641
                    <br />E-mail：service@wonature.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w_0100 back3">
    	<div class="w_1000">
        	<div class="c_1100_7">
            	<div class="coy">Copyright © 2015 北京沃诊无忧健康科技有限公司 版权所有    京ICP备15018110</div>
                <div class="r_fx"><div class="bshare-custom">
                <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" style="color:#fff;">分享本站：</a>
                <a title="分享到QQ空间" class="bshare-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                <a title="分享到人人网" class="bshare-renren"></a>
                <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                <a title="分享到网易微博" class="bshare-neteasemb"></a>
                <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script></div>
            </div>
        </div>
    </div>
</div>
<div class="fixed" id="pf">
	<span><a href="#"><i><br /></i>检测报告</a></span>
    <span><a href="#"><i><br /></i>就诊记录</a></span>
    <span class="hover"><a href="#"><i><img src="images/main20.png" width="24" height="24" /><br /></i>个人中心</a></span>
    <span><a href="#"><i><br /></i>我的消息</a></span>
    <span><a href="#"><i><br /></i>我的医生</a></span>
</div>
<script>
    $(function () {
        $(window).resize(function () { goTop(); });
        $(window).scroll(function () { goTop(); });
    });
    function goTop() {
        var _top = $(window).scrollTop();
        if (_top > 300) {
            $("#pf").stop().animate({
                "top": (($(window).height() - $("#pf").height()) / 2) + $(window).scrollTop()
            }, 1000);

        } else {
            $("#pf").stop().animate({
                "top": "285px"
            }, 1000);
        }
       
    }


</script></body>
</html>
