<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="style.css" type="text/css" />
<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script src="js/pzselect.1.0.js" type="text/javascript"></script>

</head>

<body>
<div class="pz_top">
	<div class="w_0100 back1">
    	<div class="w_1000">
        	<div class="c_1100">
            	<div class="left">沃诊无忧，您身边的家庭医生</div>
                <div class="right">
                	<div class="hover_l"><a href="#">官网</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">联系客服</a> &nbsp;&nbsp;/&nbsp;&nbsp; <a href="#">网站地图</a></div>
                	<div class="land">
                    	<span><a href="#" class="lan_one">登录</a></span>
                        <span><a href="#" class="lan_two">注册</a></span>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="w_1000">
    	<div class="c_1100_1">
           <div class="logo"><a href="#"><img src="images/logo.jpg" width="134" height="104" /></a></div>
           <div class="right_1">
           		<div class="so">
                	<div class="l_346">
                    	<div class="searchbox" pzdatatype="select">
                        	<input type="hidden" />
                            <div class="titcon tw"  pzdatatype="title">
                                找医生
                            </div>
                            <ul class='serul' pzdatatype="content">
                               <li>找医生</li>
                               <li>找医生</li>
                            </ul>
                        </div>
                        <input type="text" class="input1" />
                    </div>
                    <input type="image" src="images/top4.jpg" width="48" height="48" class="input2" />
                </div>
                <div class="consult">
                	<a href="#"><span>我要咨询</span><br />医生将为您在线解答</a>
                </div>
           </div>
        </div>
        <div class="c_1100_2">
        	<div class="menu">
            	<ul>
                	<li class="nli_1"><a href="#"><img src="images/menu1.png" width="24" height="20" /></a></li>
                	<li class="nli"><a href="#">我要预约</a></li>
                    <li class="nli"><a href="#">陪诊</a></li>
                    <li class="nli"><a href="#">挂号</a></li>
                    <li class="nli"><a href="#">体检</a></li>
                    <li class="nli"><a href="#">基因检测</a></li>
                </ul>
            </div>
             <script>
			jQuery(".menu").slide({ type: "menu", titCell: ".nli", targetCell: ".sub", effect: "slideDown", delayTime:200, triggerTime: 0,returnDefault: true });
			</script>
            <div class="special">
            	<a href="#">健康资讯</a>
                <a href="#">疾病专题</a>
            </div>
        </div>
    </div>
</div>
<div class="pz_main">
	<div class="w_1000">
    	<div class="c_1100_10">当前位置：<a href="#">首页</a> - <a href="#">我要预约</a></div>
        <div class="w_229" style="padding-top:0;">
        	<div class="l_262 pz_tab">
            	<div class="t_262 hd">
                	<ul>
                    	<li>按科室查看</li>
                        <li>按医院查看</li>
                    </ul>
                </div>
                <div class="d_262 bd">
                	<div class="one_262">
                    	<ul>
                        	<li><a href="#">内科</a>
                            	<ul class="sub_ny">
                                	<li><a href="#">心血管内科</a></li>
                                    <li><a href="#">神经内科</a></li>
                                    <li><a href="#">消化内科</a></li>
                                    <li><a href="#">心血管内科</a></li>
                                    <li><a href="#">免疫科</a></li>
                                    <li><a href="#">呼吸科</a></li>
                                    <li><a href="#">肾病内科</a></li>
                                    <li><a href="#">血液科</a></li>
                                    <li><a href="#">感染内科</a></li>
                                    <li><a href="#">过敏反应科</a></li>
                                    <li><a href="#">老年病科</a></li>
                                    <li><a href="#">普通内科</a></li>
                                </ul>
                            </li>
                            <li><a href="#">妇科</a></li>
                            <li><a href="#">外科</a></li>
                            <li><a href="#">儿科</a></li>
                            <li><a href="#">心脏</a></li>
                            <li><a href="#">肿瘤</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </div>
                    <div class="one_262">
                    	<ul>
                        	<li><a href="#">内科</a>
                            	<ul class="sub_ny">
                                	<li><a href="#">心血管内科</a></li>
                                    <li><a href="#">神经内科</a></li>
                                    <li><a href="#">消化内科</a></li>
                                    <li><a href="#">心血管内科</a></li>
                                    <li><a href="#">免疫科</a></li>
                                    <li><a href="#">呼吸科</a></li>
                                    <li><a href="#">肾病内科</a></li>
                                    <li><a href="#">血液科</a></li>
                                    <li><a href="#">感染内科</a></li>
                                    <li><a href="#">过敏反应科</a></li>
                                    <li><a href="#">老年病科</a></li>
                                    <li><a href="#">普通内科</a></li>
                                </ul>
                            </li>
                            <li><a href="#">妇科</a></li>
                            <li><a href="#">外科</a></li>
                            <li><a href="#">儿科</a></li>
                            <li><a href="#">心脏</a></li>
                            <li><a href="#">肿瘤</a></li>
                            <li><a href="#">其他</a></li>
                        </ul>
                    </div>
                </div>
                <script>
                jQuery(".pz_tab").slide({});
                jQuery('.one_262 ul li').hover(function(){
                		jQuery(this).find('.sub_ny').stop().slideDown(300)
                	},function(){
                		jQuery(this).find('.sub_ny').stop().slideUp(300)
               	 	}
                )
                </script>
            </div> 
        </div>
        <div class="r_819">
        	<div class="t_819">消化内科 可咨询大夫</div>
            <div class="d_819">
            	<div class="tit_819">
                	<table cellpadding="0" cellspacing="0" border="0">
                    	<tr height="41" style=" color:#999999; font-size:14px;">
                        	<td width="19">&nbsp;</td>
                            <td width="186">大夫</td>
                            <td width="233">咨询范围</td>
                            <td width="152">回复情况</td>
                            <td width="124">最新在线</td>
                            <td width="105">联系大夫</td>
                        </tr>
                    </table>
                </div>
                <div class="list_text">
                	<ul>
                    	<li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                        <li>
                        <table cellpadding="0" cellspacing="0" border="0">
                            <tr height="110">
                                <td width="19">&nbsp;</td>
                                <td width="186">
                                <div class="l_71"><img src="images/er8.jpg" width="71" height="71" /></div>
                                <div class="r_100"><span>张建中</span><p style=" margin-top:5px;">主任医师<br />教授</p></div>
                                </td>
                                <td width="233">
                                	<div class="l_184">
                                    	支气管哮喘症，慢性阻塞性肺病，慢性科所，慢性支气管炎，睡眠呼吸暂停综合征，飞溅质纤维化；难治性哮喘的诊治...<a href="#">更多 >></a>
                                    </div>
                                </td>
                                <td width="152">
                                	<div class="l_150">
                                    	<p>近2周回复咨询<span>36</span>问</p>
                                        <p>总共回复<span>1252</span>问</p>
                                    </div>
                                </td>
                                <td width="124">
                                	<div class="l_120_1">10小时前在线</div>
                                </td>
                                <td width="105">
                                	<div class="l_87">
                                    <a href="#">在线咨询 &nbsp;<img src="images/er9.png" width="14" height="14" /></a>
                                    <a href="#" style="margin-top:10px;">我要预约 &nbsp;<img src="images/er10.png" width="14" height="14" /></a>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        </li>
                    </ul>
                    <div class="fy_new">
                        <div class="pz_fy">
                            <a href="#">上一页</a>
                            <a href="#">1</a>
                            <a class="on">2</a><!--此为当前页样式-->
                            <a href="#">3</a>
                            <a href="#">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pz_down">
	<div class="w_0100 back2">
    	<div class="w_1000">
        	<div class="c_1100_6">
            	<div class="l_167">
                	<div class="t_167"><a href="#">我要预约</a></div>
                    <div class="d_167">
                    	<span><a href="#">陪诊</a></span>
                        <span><a href="#">挂号</a></span>
                        <span><a href="#">体检</a></span>
                        <span><a href="#">基因检测</a></span>
                    </div>
                </div>
                <div class="l_167">
                	<div class="t_167"><a href="#">公司动态</a></div>
                    <div class="d_167">
                    	<span><a href="#">公告</a></span>
                        <span><a href="#">活动</a></span>
                        <span><a href="#">调查</a></span>
                    </div>
                </div>
                <div class="l_167">
                	<div class="t_167"><a href="#">关于我们</a></div>
                    <div class="d_167">
                    	<span><a href="#">公司简介</a></span>
                        <span><a href="#">公司愿景</a></span>
                        <span><a href="#">联系我们</a></span>
                    </div>
                </div>
                <div class="l_120">
                	<img src="images/down1.jpg" width="110" height="110" /><br />
                    微信公众平台
                </div>
                <div class="r_240">
                	<strong>您身边的家庭医生</strong><br />
                    <span>4000-968-767</span><br />
                    <p>地址：北京市通州区滨惠南三街38号2109室
                    <br />电话：010-80880421
                    <br />传真：010-80881641
                    <br />E-mail：service@wonature.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="w_0100 back3">
    	<div class="w_1000">
        	<div class="c_1100_7">
            	<div class="coy">Copyright © 2015 北京沃诊无忧健康科技有限公司 版权所有    京ICP备15018110</div>
                <div class="r_fx"><div class="bshare-custom">
                <a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" style="color:#fff;">分享本站：</a>
                <a title="分享到QQ空间" class="bshare-qzone"></a>
                <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
                <a title="分享到人人网" class="bshare-renren"></a>
                <a title="分享到腾讯微博" class="bshare-qqmb"></a>
                <a title="分享到网易微博" class="bshare-neteasemb"></a>
                <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
                </div>
                <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script>
				<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
